
#tepp1
,#tepp2
,#tepp3
,#tepp4
,#tepp5
,#tepp6
,#tepp7
,#tepp8
,#tepp9
,#tepp10
,#tepp11
,#tepp12
,#tepp13
,#tepp14
,#tepp15
,#tepp16
,#tepp17
,#tepp18
,#tepp19
,#tepp20
,#tepp21
,#tepp22
,#tepp23
,#tepp24
,#tepp25
,#tepp26
 {
   color: #FFF;
   font-size: 102px;
   font-weight: 900;
   margin: 0px 0px;
   text-shadow: 2px 10px rgba(0, 0, 0, 0.6);
   text-align:center;
 }
 #time1
 ,#time2
 ,#time3
 ,#time4
 ,#time5
 ,#time6
 ,#time7
 ,#time8
 ,#time9
 ,#time10
 ,#time11
 ,#time12
 ,#time13
 ,#time14
 ,#time15
 ,#time16
 ,#time17
 ,#time18
 ,#time19
 ,#time20
 ,#time21
 ,#time22
 ,#time23
 ,#time24
 ,#time25
 ,#time26
 ,#denn1
 ,#denn2
 ,#denn3
 ,#denn4
 ,#denn5
 ,#denn6
 ,#denn7
 ,#denn8
 ,#denn9
 ,#denn10
 ,#denn11
 ,#denn12
 ,#denn13
 ,#denn14
 ,#denn15
 ,#denn16
 ,#denn17
 ,#denn18
 ,#denn19
 ,#denn20
 ,#denn21
 ,#denn22
 ,#denn23
 ,#denn24
 ,#denn25
 ,#denn26
 
 {
   color: #FFF;
   font-size: 25px;
   margin-top: 10px;
   text-align:center;
 
 }
 #spee1
 ,#spee2
 ,#spee3
 ,#spee4
 ,#spee5
 ,#spee6
 ,#spee7
 ,#spee8
 ,#spee9
 ,#spee10
 ,#spee11
 ,#spee12
 ,#spee13
 ,#spee14
 ,#spee15
 ,#spee16
 ,#spee17
 ,#spee18
 ,#spee19
 ,#spee20
 ,#spee21
 ,#spee22
 ,#spee23
 ,#spee24
 ,#spee25
 ,#spee26
  {
   color: #FFF;
   font-size: 32px;
   font-weight: 500;
   text-align:center;
 
   margin-bottom: 5px;
 }
 #temp1
,#temp2
,#temp3
,#temp4
,#temp5
,#temp6
,#temp7
,#temp8
,#temp9
,#temp10
,#temp11
,#temp12
,#temp13
,#temp14
,#temp15
,#temp16
,#temp17
,#temp18
,#temp19
,#temp20
,#temp21
,#temp22
,#temp23
,#temp24
,#temp25
,#temp26
 {
   color: #FFF;
   font-size: 24px;
   font-weight: 500;
   text-align:center;
 
   text-shadow: 0px 4px rgba(0, 0, 0, 0.4);
 }
 #icons1
,#icons2
,#icons3
,#icons4
,#icons5
,#icons6
,#icons7
,#icons8
,#icons9
,#icons10
,#icons11
,#icons12
,#icons13
,#icons14
,#icons15
,#icons16
,#icons17
,#icons18
,#icons19
,#icons20
,#icons21
,#icons22
,#icons23
,#icons24
,#icons25
,#icons26
 {
 
   text-align: center;
 
 
 }











